.carousel-inner > .item > img,  
  .carousel-inner > .item > a > img {  
	  width: 100%;  
	  margin: auto;  
  }  
 #main-slider{
	margin-top: 50px;
 }

 /*about section css start here*/
 
 /*about section css start here*/