html,body{
	margin: 0px;
	padding: 0px;
}
.top-nav-bg{
	background-color: #fff;
}
.nav-ptb>li>a{
	color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
}
#logo{
	color: #fff;
}
.navbar-default .navbar-nav>li:hover{
    background-color: red;
}
.mrks{
	color: red;
	font-size: 25px;
}
/* about section stsrt here*/
.all-text{
 	background-color: red;
 	color: #fff;
 	text-align: center;
 }
 .abouts{
 	
 }
/*about section stend  here*/

/*product start herw*/
.products{
	border:1px solid grey;
	box-shadow: 1px 2px 3px 3px red;
}
.text-product{
 	position: relative;
 }
 .text-name{
 	position: absolute;
 	bottom:0px;
 	right:0px;
 	color: white;
 	font-size: 25px;
 }
/* product end here */
/*gallery start here*/
/*gallery end here*/
/*contact section  start here*/
/* contact form                          */
.contact-touch{
	padding: 10px;
	box-sizing:border-box;
}
.contact-touch h2{
	margin-left: 20px;
}
.contact-touch ul{
	list-style-type: none;
}
.contact-touch ul li{
	padding: 10px;
}
.contact-touch ul li i{
	display: inline-block;
	margin-right: 10px;
	color: #26476c;
	padding: 7px;
	border-radius: 3px;
	text-align: center;
}
.contact-form{
	border:2px solid red;
	padding: 10px;
}
.btn-form{
	padding: 10px 50px;
	border-radius: 0;
	border: 0;
	background: #26476c;
	color: #fff;
}
.contct-social{
	margin-left: 42px;
	background-color: #f44336;
}
.contact-list{
	border:2px solid red;
	border-radius: 10%;
	background-color: #009688;
	transform: rotate(-9deg);
	color: white;
}
/*contact form end here                 */
/*contact section end here*/
/* footer section start here              */
.footer-top-bg{
	background-color: #f44336;
	color: #fff;
}
.footer-section{
	margin: 10px;
	box-sizing: border-box;
}
.footer-menu{
list-style-type: none;
}
.footer-menu li a{
	display: inline-block;
	color: #fff;
	text-decoration: none;
	margin: 5px;
}
.footer-btm-bg{
	background-color: black;
}
.footer-btm{
	padding: 10px;
	color: white;
}
.footer-nav{
	border-radius:50%;
	background-color: white;
	width: 30px;
	height: 30px;
	text-align: center;
	margin: 10px;
}
.fonts{
	font-size: 20px !important;
	padding-top:7px; 
}
.fa{
	cursor: pointer;
}
.fa-google{
	color: #dd4b39;
}
.fa-youtube{
	color: #cd201f;
}
.fa-twitter{
	color: #55acee;
}
.fa-instagram{
	color: #e4405f;
}
/* footer section end here               */